<form (submit)="onSubmit($event)">

	<mat-grid-list [cols]="breakpoint" [rowHeight]="rowHeight" gutterSize="20px" (window:resize)="setSizes()">

		<mat-grid-tile [colspan]="bigCol">
			<mat-form-field class="fullWidth" appearance="outline" floatLabel='never'>
				<mat-label>Search...</mat-label>
				<input matInput type="search">
				<mat-icon matPrefix>search</mat-icon>
			</mat-form-field>
		</mat-grid-tile>

		<mat-grid-tile [colspan]="smallCol">
			<mat-form-field class="fullWidth" appearance="outline">
				<mat-label>Language</mat-label>
				<mat-select>
					<mat-option *ngFor="let l of languages, let i = index" [value]="i">
						{{l}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-grid-tile>

		<mat-grid-tile [colspan]="smallCol">
			<mat-form-field class="fullWidth" appearance="outline">
				<mat-label>Course</mat-label>
				<mat-select>
					<mat-option *ngFor="let c of courses, let i = index" [value]="i">
						{{c}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-grid-tile>

	</mat-grid-list>

</form>