<mat-card class="testimony" [@hoverAnimation]="hoverState" (mouseenter)="bHover = true" (mouseleave)="bHover = false">

    <div class="headerWrapper">
        <mat-card-header>
                <img mat-card-avatar [src]="testimony.avatar">
                <mat-card-title>{{ testimony.name }}</mat-card-title>
                <mat-card-subtitle>{{ testimony.ocupation }}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="testimony.icon" class="icon">

    </div>

    <mat-card-content class="testimonyContent">
        <p>
            {{ testimony.textBody }}
        </p>
    </mat-card-content>

    <mat-card-footer>
        <div class="flex justify-content_space-between">
            <span class="color_black_inactive">
                {{ testimony.date | date:"short" }}
            </span>
            <span class="color_accent_900">
                {{ testimony.sector }}
            </span>
        </div>
    </mat-card-footer>

</mat-card>