table {
    border-collapse: separate;
    border-spacing: 0;
    height: 200px;
}
td {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.tdNews {
    border-left: none;
    width: 75%;
    padding-right: 7%;
}
.tdNewsletter {
    border-right: none;
    width: 25%;
}
.tdNews, .tdNewsletter {
    vertical-align: top;
}