.wrapper {
    padding: 30px 40px 10px 40px;
}
h1 {
    margin-bottom: 40px;
}
button {
    height: 45px;
    width: 400px;
}
.mat-form-field {
    margin-bottom: 0.5em;
}
.pFooter {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-top: 30px;
}