@import "/src/assets/styles/_media-breakpoint.scss";

div {
    height: 350px;
    border-radius: 10px;
    font-size: 22px;
    @include xs {
        height: 220px;
    }
}
p {
    transform: translateY(-6px);
}