@import "./vars";

// Accent
.color_accent_500 {
	color: $color_accent_500
}
.color_accent_900 {
	color: $color_accent_900;
}

// Black
.color_black_inactive {
	color: $black_inactive;
}
.color_black_medium_emphasis {
	color: $black_medium_emphasis;
}
.color_black_disabled {
	color: $black_disabled;
}
.color_black_high_emphasis {
	color: $black_high_emphasis;
}

// Primary
.color_primary_100 {
	color: $color_primary_100;
}
.bg_primary_500 {
	background-color: $color_primary_500;
}
.bg_primary_700 {
	background-color: $color_primary_700;
}

// White
.color_white_high_emphasis {
	color: $white_high_emphasis;
}