@import "./vars";

.color_accent_900 {
	color: $color_accent_900;
}
.color_white_high_emphasis {
	color: $white_high_emphasis;
}
.color_black_inactive {
	color: $black_inactive;
}
.color_black_high_emphasis {
	color: $black_high_emphasis
}
.bg_primary_500 {
	background-color: $color_primary_500;
}